<div class="wrapper" style="margin-left: 8px; margin-top: 8px;">
  <h1><%= @task.title %></h1>

  <div class="task-details" style="background-color: lightgray; padding: 24px; border: 1px solid gray; margin-left: 8px;">
    <%= @task.details %>
  </div>
  <div class="task-completed" style="margin-bottom: 32px; border-bottom: 1px solid lightgray; padding-bottom: 24px; padding-top: 24px; margin-left: 8px;">
  <% if @task.completed? %>
    <i class="far fa-check-square"></i> &nbsp;This task is completed
  <% else %>
    <i class="far fa-square"></i> &nbsp;This task is not completed yet
  <% end %>
  </div>


  <%= link_to "Back to list", tasks_path %>
</div>
